*,
html {
    color: #3a2223;
    font: 12pt "Verdana";
    overflow: hidden;
}

body {
    background-image: url("img/cubic.jpg");
}

#choose_human_form {
    visibility: visible;
}

#add_coder_form,
#add_tester_form,
#add_techwriter_form,
#add_designer_form,
#add_manager_form,
#wanna_add_another_human,
#button_settings,
#settings_form {
    visibility: hidden;
}

input {
    cursor: pointer;
}

.info_fields {
    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    margin: 20% 0 0 27%;
    padding: 3%;
    position: absolute;
    text-align: left;
    width: 40%;
}

.settings_fields {
    /* background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.5); */
    border: 1px solid darkred;
    margin: 10% 0 0 27%;
    position: absolute;
    text-align: left;
    width: 80%;
}

.add_form_group_span {
    position: fixed;
    width: 50px;
}

.add_form_group_input {
    margin: 0 0 0 60px;
    position: relative;
    width: 87%;
}

.choose_human_form_input {
    width: 75%;
}

.field {
    cursor: pointer;
    font-size: 1em;
}

.text_center {
    font-size: 1.4em;
    margin: 0 0 5% 0;
    text-align: center;
}

.label {
    margin: 15% 0 0 15%;
    position: relative;
    text-align: center;
    width: 70%
}

.button {
    background: lightgrey;
    border: none;
    cursor: pointer;
    height: 30px;
    outline: none;
    width: 23.5%;
}

.button:hover {
    background: #af9a9a;
}

.button:active {
    box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}

.button_big {
    height: 10%;
    margin: 20% 0 0 40%;
    position: absolute;
    width: 20%;
}

#add_coder_lang,
#add_designer_lang {
    width: 30px;
}

.add_form_text {
    /* border: 1px solid darkred; */
    line-height: 30px;
    position: relative;
}

.add_form_input {
    margin: 2.5px;
    position: relative;
    width: 88%;
}