*,
html {
    color: #202125;
    font: 10pt "Verdana";
    overflow: hidden;
}

/*
    #858784
    #202125
    #C4C4C6

    #BEB1A9
    #677365
    #23262B
*/

body {
    background: url("img/office.jpg") no-repeat;
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

#choose_human_form {
    visibility: visible;
}

#add_coder_form,
#add_tester_form,
#add_techwriter_form,
#add_designer_form,
#add_manager_form,
#wanna_add_another_human,
#button_settings,
#settings_form,
#button_simulation_start,
#simulation_screen {
    visibility: hidden;
}

input {
    cursor: pointer;
}

.field {
    cursor: pointer;
    font-size: 1em;
}

/* Добавление сотрудников */
.info_fields {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 15% 0 0 27%;
    padding: 3% 2% 1.5% 3%;
    position: absolute;
    text-align: left;
    width: 40%;
}

#choose_human_form {
    padding: 3%;
}

.add_form_group_span {
    position: fixed;
    width: 50px;
}

.add_form_group_input {
    margin: 0 0 0 60px;
    position: relative;
    width: 87%;
}

.choose_human_form_input {
    border-radius: 2px;
    height: 30px;
    outline: none;
    width: 74%;
}

.add_form_text {
    line-height: 30px;
    position: relative;
}

.add_form_input {
    border: 1px solid #A9A9A9;
    border-radius: 2px;
    height: 28px;
    outline: none;
    margin: 0 2.5px;
    position: relative;
    width: 88%;
}

/* Предварительные настройки симуляции */
.settings_fields {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 5% 0 0 32.5%;
    padding: 3% 3% 2% 3%;
    position: absolute;
    text-align: left;
    width: 30%;
}

.settings_form_group_span {
    display: inline-block;
    position: relative;
    width: 48%;
}

.settings_form_group_input {
    display: inline-block;
    position: relative;
    width: 50%;
}

.settings_form_input {
    margin: 2.5px;
    position: relative;
    width: 30%;
}

/* Текст и названия */
.text_center {
    font-size: 1.4em;
    margin: 0 0 5% 0;
    text-align: center;
}

.label {
    margin: 10% 0 0 15%;
    position: relative;
    text-align: center;
    width: 70%
}

.text_small {
    font-size: 0.8em;
    text-align: center;
}

/* Кнопки */
.button {
    background: #b7b9b6;
    border: 1px solid #A9A9A9;
    border-radius: 2px;
    cursor: pointer;
    height: 30px;
    position: relative;
    outline: none;
    width: 24%;
}

.button:hover {
    border: 1px solid #918680;
    background: #afa39e;
}

.button:active {
    box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
}

.button_select {
    left: 10px;
}

.button_ok {
    margin: 0 0 0 38%;
}

.button_big {
    height: 10%;
    margin: 20% 0 0 40%;
    position: absolute;
    width: 20%;
}

#add_coder_lang,
#add_designer_lang {
    left: 10px;
    width: 30px;
}

/* Окно симуляции */
#simulation_screen {
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#simulation_office_screen {
    background: white;
    background-size: 65%;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    height: 95%;
    left: 2.5%;
    position: absolute;
    top: 2.5%;
    transition: background 2s ease-in-out;
    width: 65%;
}

.workplace_line {
    /* background: rgba(128, 128, 128, 0.2); */
    height: 25%;
    position: relative;
    width: 100%;
}

.workplace {
    /* background: rgba(128, 128, 128, 0.2); */
    display: inline-block;
    float: left;
    height: 100%;
    position: relative;
    width: 20%;
}

.dude {
    height: 90%;
    margin: 10% 0 0 0;
    transition: all 2s ease-in-out;
    visibility: hidden;
    width: 100%;
}

.dude img {
    margin: auto 37%;
    position: relative;
    width: 25%;
}

.expandOpen{
    animation-name: expandOpen;
    -webkit-animation-name: expandOpen;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;

    visibility: visible !important;
}

@keyframes expandOpen {
    0% {
        transform: scale(1.8);
    }
    50% {
        transform: scale(0.95);
    }
    80% {
        transform: scale(1.05);
    }
    90% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes expandOpen {
    0% {
        -webkit-transform: scale(1.8);
    }
    50% {
        -webkit-transform: scale(0.95);
    }
    80% {
        -webkit-transform: scale(1.05);
    }
    90% {
        -webkit-transform: scale(0.98);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

.hide {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity = 0);
}

.night {
    background: #1b2a3e;
}

.progress {
    left: 70%;
    position: absolute;
    width: 27.5%;
}

.progress p {
    line-height: 15px;
}

.progress_bar {
    border-radius: 2px;
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
    height: 28px;
    width: 100%;
}

#deadline_progress {
    top: 10%;
}

#project_progress {
    top: 20%;
}

progress::-webkit-progress-bar {
    background-color: white;
    border: 1px solid #A9A9A9;
}
progress::-webkit-progress-value {
    background: #afa39e;
    box-shadow: 1px 0 2px rgba(0,0,0,0.1);
}

#simulation_log {
    background: #c7c7cd;
    border: 1px solid #A9A9A9;
    border-radius: 2px;
    font-family: Consolas;
    font-size: 0.8em;
    height: 60%;
    left: 70%;
    overflow-y: scroll;
    padding: 1%;
    position: absolute;
    top: 33%;
    width: 25.5%;
}

